html, body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.view {
    display: none;
}

#floating-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#floating-buttons button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

#rotate-kindle {
    display: none; /* Hidden by default */
}

/* Kindle View */
#kindle-view {
    background-color: #fff;
    color: #000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#kindle-view.rotated-90,
#kindle-view.rotated-270 {
    width: 100vh;
    height: 100vw;
    top: 50%;
    left: 50%;
}

#kindle-view.rotated-90 {
    transform: translate(-50%, -50%) rotate(90deg);
}

#kindle-view.rotated-180 {
    transform: rotate(180deg);
}

#kindle-view.rotated-270 {
    transform: translate(-50%, -50%) rotate(270deg);
}


#kindle-view .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

#kindle-view .data-point {
    text-align: center;
    margin: 20px;
}

#kindle-view .label {
    font-size: 2em;
    display: block;
}

#kindle-view .value {
    font-size: 4em;
    font-weight: bold;
}

.navigation {
    display: none;
}

#kindle-view .navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#kindle-view .navigation button {
    font-size: 2em;
    padding: 20px;
    width: 50%;
    border: 1px solid black;
    background-color: white;
}

/* Desktop View */
#desktop-view {
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

#desktop-view h1 {
    text-align: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-items-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    flex-shrink: 0;
}

.grid-item .label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

.grid-item .value {
    font-size: 2em;
    font-weight: bold;
}

.group {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.group h2 {
    text-align: left;
    margin-top: 0;
}

#vigi-meteo {
    width: 302px;
    height: 122px;
    padding: 0;
}

.grid-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.dew-point-text {
    font-size: 0.4em;
    font-weight: normal;
    display: block;
    line-height: 1.2;
}
